{% comment %} Load HTML files into an Iframe {% endcomment %}

<script>
  window.onmessage = (e) => {
    if (e.data.hasOwnProperty("frameHeight")) {
      document.getElementById("_iframe").style.height = `${e.data.frameHeight + 30}px`;
    }
  };
</script>

<script type="text/javascript">
  {% for chart in page.hv-loader %}
    document.addEventListener("DOMContentLoaded",function(){
      let el = document.getElementById("{{ chart[0] }}")
      if (el===null)
        alert("Error: cannot embed HTML chart because the div element with id '{{ chart[0] }}' does not exist.")
      let spec = "{{ site.baseurl }}/{{ chart[1] }}";
      el.innerHTML = `<iframe width="100%" scrolling="no" frameborder="0" id="_iframe" src="${spec}">
      </iframe>`;
    });
  {% endfor %}
</script>
