{% comment %} Load HTML files into an Iframe {% endcomment %}

<script>
  window.addEventListener('message', (e) => {
    var scroll_height = e.data;
    var _iframe = document.getElementById('_iframe');
    
    _iframe.style.height = _iframe.contentWindow.document.body.scrollHeight;
  } , false);
</script>

<script type="text/javascript">
  {% for chart in page.hv-loader %}
    document.addEventListener("DOMContentLoaded",function(){
      let el = document.getElementById("{{ chart[0] }}")
      if (el===null)
        alert("Error: cannot embed HTML chart because the div element with id '{{ chart[0] }}' does not exist.")
      let spec = "{{ site.baseurl }}/{{ chart[1] }}";
      el.innerHTML = `<iframe width="100%" frameborder="0" style="overflow-x:hidden !important; overflow-x:auto !important; overflow:hidden;" id="_iframe" src="${spec}">
      </iframe>`;
    });
  {% endfor %}
</script>
